.orderList{
    padding-top:8vh;
    background-image:linear-gradient(to right,rgba(74, 28, 28, 0.728),rgba(250, 250, 250, 0.125),rgba(68, 33, 33, 0.651)), url("dogHusky.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height:100vh;
}

.btn--edit{
  border-radius: 30%;
  background-color: yellow;
}
.btn--delete{
    border-radius: 30%;
    background-color: tomato;
    color: white;
}
.addPlanBtn{
    border-radius: 30%;
    background-color: rgb(74, 71, 255);
    color: white;
}
.orderListHeader{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.order__name{
 text-align: center;
 color:white;
}