.planForm{
    width:25vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
        
}
.form-group{
    display:flex;
    flex-direction: row;
}
.dogForms{
    display:flex;
    /* flex-direction: row;  */
    /* display: inline-block; */
    width:30vw;
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(44, 43, 43, 0.6);

}
.planTitle{
    text-align: center;
    width:100vw;
    letter-spacing: 2vw;
    padding-top:15vh;
    margin:0 auto;
}

.planListHeader{
    text-align: center;
    width:100vw;
    letter-spacing: 5vw;
    /* padding-top:15vh; */
    margin:0 auto;
   
}

.addPlanBtn{
    text-align: center;
    width:10vw;
    margin-left:45vw;
}

.plans{
    text-align: center;
    border:1px solid black;
    display: flex;
    /* width:100vw; */
    flex-direction: row;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-image: url('./dogNose.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    /* padding-top:15vh; */
}
.planTypeHeader{
    text-align: center;
    color:white;
}

.optionals{
    margin:0 auto;
    font-size: larger;
    color:white;
   
}
.planListHeader{
    text-align: center;
    font-size: xx-large;
}
label{
    font-size: smaller;
    color:white;
}
.order{
    display: flex;
    flex-direction: row;
}
