html {
    height:100%;
    overflow: hidden;
    margin:0 auto;
    padding: 0;
}
body{
 
    margin:0;
    padding:0;
    perspective:1px;
    transform-style: preserve-3d;
    height:100%;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}

.learnMoreBtn{
    text-align: center; 
    width:100vw;
    background-color:rgba(0, 0, 0, 0.536);
    margin-top:45vh;
    width:15vw;
    margin-Left:45vw;
    border-radius: 15%;
     
  
}
.dogSpan .dogspan2{
  
   text-align: center;
   
}


.PurchaseOptionsBtn{
    text-align: center; 
    width:100vw;
    background-color: rgba(0, 0, 0, 0.466);
    margin-top:15vh;
    width:25vw;
    margin-Left:45vw;
    border-radius: 15%;
}

.Title{
    box-sizing: border-box;
    min-height: 100vh;
    /* padding:20vw; */
    position: relative;
    transform-style:inherit;
    width:100vw;
    border-radius: 50%;
    
    

    text-align: center;
    padding-top: 15vh;  
    /* font-weight: 900; */
    color:black;
    margin:0 auto;
    letter-spacing: 2rem;
    color: white;
     font-weight: lighter;
     font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";

}

.Title, .Title:before{
    background: 50% 50% / cover;
  
}

.mainHome{
    background-image: linear-gradient(to right ,rgba(11, 11, 11, 0.76),rgba(255, 237, 159, 0.488),rgba(19, 19, 19, 0.795)),url('./dogchurchdog.jpg'),url('./dogchurchdog.jpg');
    width: 100vw;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    /* width:94vw;
    margin-left: 3vw;
    margin-right: 3vw; */
    justify-content: space-around;
}
.Title::before{
    bottom:0;
    content:"";
    height:00%;
    left:0; 
    position: absolute;
    right:0;
    top:120vh;
    display: block;
    margin:0 auto;
   
   

   
    background-image:linear-gradient(to right,rgba(119, 254, 1, 0.404) ,rgba(250, 1, 38, 0.31) ,rgba(186, 4, 247, 0.399)), url('./dogChurch2.png');
    background-size: cover;
    transform-origin:  center center 0;
    transform: translateZ(-1px) scale(2.4);
    z-index: -2;
    min-height: 100vh;


}
/* .homePageTwo{
    background-image: linear-gradient(to right ,rgba(11, 11, 11, 0.575),rgba(255, 237, 159, 0.488),rgba(19, 19, 19, 0.568)),url('./dogChurch2.png');
    width: 100vw;
    height:100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
} */

.homePageThree{
    background-image: linear-gradient(to right ,rgba(11, 11, 11, 0.575),rgba(255, 237, 159, 0.488),rgba(19, 19, 19, 0.568)),url('./dogrunning.jpg');
    width: 100vw;
    height:100vh;
    margin-top:60vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-around;
}
.copyR{
    margin-top:45vh;
    color:white;
}

.dogSpan, .dogSpan2{
font-size: 8vw;
display: inline-block;
text-align: center;
/* flex-basis: 10%; */
}
.titleHole{
    letter-spacing: 0.3vw;
    font-size: larger;
    font-weight: 400;
    width:40vw;
    display: inline-block;
    text-align: center;
   

}

.descriptions{
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-evenly;
    color:white;

}
.desc{
    width:25vw;
    background-color: rgba(255, 255, 255, 0.555);
    margin-top: 50vh;
}