
.navbar {
     display: flex;
    justify-content: space-evenly;  
    background-color:rgba(0, 0, 0, 0.776);
    text-align: center;
    margin:0 auto;
    height:8vh; 
    position:relative;
    width:100vw;
    
    
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
    color:white;
}
.navbar__link{
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 900;
}
.navbar__loginlink{
  
    color:rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 900;
}

/* .navWrap{
    position: relative;
} */